@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

/* Self-hosted Clash Grotesk */
@font-face {
  font-family: "Clash Grotesk";
  src: url("/fonts/clash-grotesk-400.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Clash Grotesk";
  src: url("/fonts/clash-grotesk-500.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Clash Grotesk";
  src: url("/fonts/clash-grotesk-600.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Clash Grotesk";
  src: url("/fonts/clash-grotesk-700.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/* Self-hosted DM Sans */
@font-face {
  font-family: "DM Sans";
  src: url("/fonts/dm-sans-normal-latin.woff2") format("woff2");
  font-weight: 100 1000;
  font-display: swap;
  font-style: normal;
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "DM Sans";
  src: url("/fonts/dm-sans-normal-latin-ext.woff2") format("woff2");
  font-weight: 100 1000;
  font-display: swap;
  font-style: normal;
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329,
    U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "DM Sans";
  src: url("/fonts/dm-sans-italic-latin.woff2") format("woff2");
  font-weight: 100 1000;
  font-display: swap;
  font-style: italic;
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "DM Sans";
  src: url("/fonts/dm-sans-italic-latin-ext.woff2") format("woff2");
  font-weight: 100 1000;
  font-display: swap;
  font-style: italic;
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329,
    U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    "DM Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-grotesque: "Clash Grotesk", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Geist Mono", monospace;
}

@theme {
  --color-pink-50: #fff1f7;
  --color-pink-100: #ffd3e5;
  --color-pink-200: #ffbdd9;
  --color-pink-300: #ff9fc7;
  --color-pink-400: #ff8dbd;
  --color-pink-500: #ff70ac;
  --color-pink-600: #e8669d;
  --color-pink-700: #b5507a;
  --color-pink-800: #8c3e5f;
  --color-pink-900: #6b2f48;
  --color-pink-950: #500724;
  --color-violet-50: #eae6ec;
  --color-violet-100: #bcb1c3;
  --color-violet-200: #9c8ca6;
  --color-violet-300: #6f577d;
  --color-violet-400: #533664;
  --color-violet-500: #28043d;
  --color-violet-600: #240438;
  --color-violet-700: #1c032b;
  --color-violet-800: #160222;
  --color-violet-900: #11021a;
  --color-violet-950: #1e1b4b;
  --color-purple-50: #f8ecf8;
  --color-purple-100: #e9c4e9;
  --color-purple-200: #dfa7df;
  --color-purple-300: #d07fd0;
  --color-purple-400: #c766c7;
  --color-purple-500: #b940b9;
  --color-purple-600: #a83aa8;
  --color-purple-700: #832d83;
  --color-purple-800: #662366;
  --color-purple-900: #4e1b4e;
  --color-purple-950: #3b0764;
  --color-sky-blue-50: #f2fbfe;
  --color-sky-blue-100: #d8f1fd;
  --color-sky-blue-200: #c5eafb;
  --color-sky-blue-300: #aae1fa;
  --color-sky-blue-400: #99dbf9;
  --color-sky-blue-500: #80d2f7;
  --color-sky-blue-600: #74bfe1;
  --color-sky-blue-700: #5b95af;
  --color-sky-blue-800: #467488;
  --color-sky-blue-900: #365868;
  --color-sky-blue-950: #082f49;
  --color-yellow-50: #fffaef;
  --color-yellow-100: #fff0cc;
  --color-yellow-200: #ffe8b4;
  --color-yellow-300: #ffde91;
  --color-yellow-400: #ffd77c;
  --color-yellow-500: #ffcd5b;
  --color-yellow-600: #e8bb53;
  --color-yellow-700: #b59241;
  --color-yellow-800: #8c7132;
  --color-yellow-900: #6b5626;
  --color-yellow-950: #422006;
  --color-base-black: var(--color-violet-500);
}

html,
body {
  @apply bg-background;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --shadow-button: var(--shadow-button);
  --shadow-button-active: var(--shadow-button-active);
  --shadow-button-destructive: var(--shadow-button-destructive);
  --color-button-primary: var(--color-button-primary);
  --color-button-primary-foreground: var(--color-button-primary-foreground);
  --color-button-secondary-foreground: var(--color-button-secondary-foreground);
  --color-border-button: var(--color-border-button);
  --color-destructive-shadow: var(--destructive-shadow);
  --color-destructive-hover: var(--destructive-hover);
  --color-destructive-hover-foreground: var(--destructive-hover-foreground);
  --color-button-link-foreground: var(--button-link-foreground);
  --color-button-link-hover-foreground: var(--button-link-hover-foreground);
  --color-button-link-active-foreground: var(--button-link-active-foreground);
  --color-accordion: var(--accordion);
  --color-accordion-foreground: var(--accordion-foreground);
}

:root {
  --radius: 0.625rem;
  --background: var(--color-white);
  --foreground: var(--color-violet-500);
  --card: var(--color-white);
  --card-foreground: var(--color-violet-500);
  --popover: var(--color-white);
  --popover-foreground: var(--color-violet-500);
  --primary: var(--color-pink-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-purple-500);
  --secondary-foreground: var(--color-white);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-500);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-neutral-900);
  --destructive: var(--color-red-600);
  --destructive-foreground: var(--color-red-50);
  --destructive-shadow: var(--color-red-800);
  --destructive-hover: var(--color-red-700);
  --destructive-hover-foreground: var(--color-red-50);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-200);
  --ring: var(--color-neutral-400);
  --chart-1: var(--color-orange-600);
  --chart-2: var(--color-teal-600);
  --chart-3: var(--color-cyan-900);
  --chart-4: var(--color-amber-400);
  --chart-5: var(--color-amber-500);
  --sidebar: var(--color-neutral-50);
  --sidebar-foreground: var(--color-neutral-950);
  --sidebar-primary: var(--color-neutral-900);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-neutral-100);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-neutral-200);
  --sidebar-ring: var(--color-neutral-400);
  --shadow-button: 3px 3px 0 0 var(--color-violet-500);
  --shadow-button-active: inset 0 4px 4px 0 color-mix(in srgb, var(--color-violet-500) 30%, transparent);
  --shadow-button-destructive: 3px 3px 0 0 var(--color-destructive-shadow);
  --color-button-primary: var(--color-white);
  --color-button-primary-foreground: var(--color-pink-500);
  --color-button-secondary-foreground: var(--color-violet-500);
  --color-border-button: var(--color-violet-500);
  --button-link-foreground: var(--color-violet-500);
  --button-link-hover-foreground: var(--color-pink-500);
  --button-link-active-foreground: var(--color-pink-700);
  --accordion: var(--color-white);
  --accordion-foreground: var(--color-violet-500);

  --hero-bg-gradient-1: #ffffff;
  --hero-bg-gradient-2: #ffc1bc;
  --hero-bg-gradient-3: #7342ed;
  --hero-sun-opacity: 1;
  --hero-sun-y: 0;
  --hero-moon-opacity: 0.5;
  --hero-moon-y: -360px;
  --hero-cloud-opacity-1: 1;
  --hero-cloud-opacity-2: 1;
  --hero-cloud-opacity-3: 0.3;
}

.dark {
  --radius: 0.625rem;
  --background: var(--color-violet-700);
  --foreground: var(--color-white);
  --card: var(--color-violet-800);
  --card-foreground: var(--color-white);
  --popover: var(--color-violet-800);
  --popover-foreground: var(--color-white);
  --primary: var(--color-pink-500);
  --primary-foreground: var(--color-violet-800);
  --secondary: var(--color-purple-500);
  --secondary-foreground: var(--color-white);
  --muted: var(--color-violet-700);
  --muted-foreground: var(--color-purple-100);
  --accent: var(--color-violet-700);
  --accent-foreground: var(--color-pink-500);
  --destructive: var(--color-red-500);
  --destructive-foreground: var(--color-white);
  --destructive-shadow: var(--color-red-900);
  --destructive-hover: var(--color-red-600);
  --destructive-hover-foreground: var(--color-white);
  --border: var(--color-violet-500);
  --input: var(--color-violet-300);
  --ring: var(--color-pink-500);
  --chart-1: var(--color-orange-400);
  --chart-2: var(--color-teal-400);
  --chart-3: var(--color-cyan-400);
  --chart-4: var(--color-amber-300);
  --chart-5: var(--color-amber-400);
  --sidebar: var(--color-violet-900);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-pink-500);
  --sidebar-primary-foreground: var(--color-violet-900);
  --sidebar-accent: var(--color-violet-700);
  --sidebar-accent-foreground: var(--color-pink-500);
  --sidebar-border: var(--color-violet-700);
  --sidebar-ring: var(--color-pink-500);
  --shadow-button: 3px 3px 0 0 var(--color-pink-500);
  --shadow-button-active: inset 0 4px 4px 0 color-mix(in srgb, var(--color-purple-900) 70%, transparent);
  --shadow-button-destructive: 3px 3px 0 0 var(--color-destructive-shadow);
  --color-button-primary: var(--color-violet-500);
  --color-button-primary-foreground: var(--color-pink-500);
  --color-button-secondary-foreground: var(--color-white);
  --color-border-button: var(--color-pink-500);
  --button-link-foreground: var(--color-purple-100);
  --button-link-hover-foreground: var(--color-pink-500);
  --button-link-active-foreground: var(--color-pink-400);
  --accordion: var(--color-violet-800);
  --accordion-foreground: var(--color-white);

  --hero-bg-gradient-1: #221c29;
  --hero-bg-gradient-2: #341054;
  --hero-bg-gradient-3: #461ea9;
  --hero-sun-opacity: 0.5;
  --hero-sun-y: 360px;
  --hero-moon-opacity: 1;
  --hero-moon-y: 0;
  --hero-cloud-opacity-1: 0.3;
  --hero-cloud-opacity-2: 0.3;
  --hero-cloud-opacity-3: 0.2;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  /* Hide number input spinners */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
